<div class="auth-container">
    <form class="auth-container_form">
        <h1>Вход</h1>
        <div class="auth-container_inputs">
            {{{inputLogin}}}
            {{{inputPassword}}}
        </div>
        <div class="auth-container_button">
            {{{button}}}
        </div>
            {{{linkButton}}}
    </form>
</div>  
