.button {
  background: $color_link_button_default;
  border-radius: 8px;
  border: none;
  width: 100%;
  color: $color_hover_buton_text;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 12px 70px;
}
