---
title: Форма авторизации в чате
styles:
  - '../../layouts/base.scss'
form-fields:
    - name: 'login' 
      type: 'text' 
      label: 'Логин'
      value: 'ivanivanov'
      color-class: 'color-active'
      error-message: 'Не верный логин'
    - name: 'password' 
      type: 'password' 
      label: 'Пароль'
      value: '••••••••••••'
---

{{!< base}}

<div class="auth-container">
    <form class="auth-container_form">
        <h1>Вход</h1>
        <div class="auth-container_inputs">
            {{#each form-fields}}
                {{> "input/input"}}
            {{/each}}
        </div>
        <div class="auth-container_button">
            {{> "button/button" 
                value="Enter"
            }}
        </div>
        {{> "linkButton/linkButton" 
            anchor="Registration"
            href="./registration.hbs"
        }}
    </form>
</div>  
  