@import '../../styles/variables';

.chat {
    display: flex;
    overflow: hidden;
  
  &_block {
    width: 310px;
    display: flex;
    padding: 20px 10px;
    box-sizing: border-box;
    min-height: 100vh;
    flex-direction: column;
    background-color: $color_background_back;
    border-right: 1px solid $color_separation_line;
  }

  &_profile-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 8px;
    text-decoration: none;
    margin-bottom: 23px;
    color: $color_text_light;

    &:hover {
      opacity: 0.7;
    }
  }

  &_search {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    padding: 9px 10px;
    border: none;
    border-radius: 5px;
    background: url(../../images/search.svg) calc(50% - 30px) no-repeat;
    background-color: $color_field;
    text-align: center;
    margin-bottom: 14px;
    position: relative;
    color: inherit;

    &:not(:placeholder-shown) {
      background-image: none;
    }

    &:focus {
      outline: 1px solid $color_text_light;
    }
  }

  &_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
  }

  &_core {
    display: flex;
    min-height: 100vh;
    padding: 0 20px;
    flex-direction: column;
    flex-grow: 1;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid $color_separation_line;
  }

  &_avatar {
    width: 34px;
    height: 34px;
    background-color: $color_field;
    border-radius: 50%;
  }

  &_name {
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    flex-grow: 1;
  }

  &_menu-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: url(../../images/points.svg) center no-repeat;
    cursor: pointer;

    &:hover {
      background-color: $color_field;
    }
  }

  &_input-block {
    display: flex;
    padding: 11px 0;
    border-top: 1px solid $color_separation_line;
    justify-content: space-between;
    column-gap: 10px;
  }

  &_attach-button {
    width: 32px;
    height: 32px;
    border: none;
    background: url(../../images/attach.svg) center / contain no-repeat;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: $color_field;
    }
  }

  &_message input {
    flex-grow: 1;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    padding: 2px 20px;
    border-radius: 30px;
    border: none;
    background-color: $color_field;
    text-align: left;

    &:focus {
      outline: 1px solid $color_link_button_default;
    }
  }

  &_send-button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: url(../../images/arrow-right.svg) center / 60% no-repeat;
    background-color: $color_link_button_default;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &_messages {
    font-size: 14px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 25px;
    line-height: 20px;
    font-size: 12px;
    flex-grow: 1;
  }
}
