---
title: Ошибка 404 - страница не найдена.
styles:
  - '../../layouts/base.scss'
---
{{!< base}}

<div class="errors-container">
  <h1>404</h1>
  <span class="errors-container_description">Не туда попали</span>
  {{> "linkButton/linkButton" 
      value="Назад к чатам"
  }}
</div>
