---
title: Ошибка сервера 500
styles:
  - '../../layouts/base.scss'
---
{{!< base}}

<div class="errors-container">
    <h1>500</h1>
    <span class="errors-container_description">Мы уже фиксим</span>
    {{> "linkButton/linkButton" 
        value="Назад к чатам"
    }}
</div>
