.errors-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}

.errors-container_description {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 70px;
}
