---
title: Изменить пароль
styles:
  - '../../layouts/base.scss'
profile:
    - name: 'oldPassword' 
      type: 'password' 
      label: 'Старый пароль'
      value: '••••••••••'
    - name: 'newPassword' 
      type: 'password' 
      label: 'Новый пароль'
      value: '••••••••••••'
    - name: 'repeatPassword' 
      type: 'password' 
      label: 'Повторите новый пароль'
      value: '••••••••••••'
---
{{!< base}}

<div class="profile-container">
    {{> "backButton/backButton"}}
    <div class="profile-container_wrapper">
        <div class="profile-container_user">
            <div class="profile-container_user-pic">
            </div>
        </div>
        <ul class="profile-container_user-items">
            {{#each profile}}
                {{> "userItem/userItemEdit"}}
            {{/each}}
        </ul>
        <div class="profile-container_button">
            {{> "button/button" value="Сохранить"}}
        </div>
    </div>
</div>