// COLORS
$color_text_main: #1E1E1E;
$color_text_light: #999;
$color_field: #EFEFEF;
$color_background_main: #FFF;
$color_hover_buton_text: #FFF;
$color_background_back: #FBFBFB;
$color_link_button_default: #3369F3;
$color_link_button_active: #FF2F2F;
$color_separation_line: #EAEAEA;
$color_message: #F8F8F8;
$color_message_background_chat_select: #E4EDFD;
