// Main
@import 'normalize';
@import 'variables';
@import 'reset';

body {
  display: block;
  margin: 0;
  font-family: Inter, Tahoma, Arial, sans-serif;
  font-size: 14px;
  color: $color_text_main;
  background: $color_background_main;
  box-sizing: border-box;
  min-width:320px;
  max-width:1200px;
  border-right: 1px solid $color_separation_line;
}
  
main {
  height: 100vh;
}

h1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.color_active {
  color: $color_link_button_active;
}

nav {
    position: absolute;
    left: 450px;
    top: 4px;
    text-align: center;
}

.page-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page-menu li {
  display: inline;  
  margin-top: 15px;
  margin-left: 20px;
}
