<div class="profile-container">
    <div class="back-button">
        <button class="send-button" onclick="history.back()"></button>
    </div>
    <form class="profile-container_wrapper">
        <div class="profile-container_user">
            <div class="profile-container_user-pic">
            </div>
        </div>
        <ul class="profile-container_user-items">
            {{{ oldPassword }}}
            {{{ newPassword }}}
            {{{ repeatPassword }}}
        </ul>
        <div class="profile-container_button">
            {{{ saveButton }}}
        </div>
    </form>
</div>
