.back-button {
  height: 100%;
  background: $color_background_back;
  width: 64px;
  border-right:1px solid $color_separation_line;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.send-button {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background: $color_link_button_default;
  border: none;
  background-image: url('../images/arrow_left.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
