---
title: Chat Message Pages List
styles:
  - '../layouts/base.scss'
---
{{!< base}}
<nav>
<ul class="page-menu">
    <li>
        <a href="./auth/login.hbs">Login</a>
    </li>
    <li>
        <a href="./auth/registration.hbs">Registration</a>
    </li>
    <li>
        <a href="./profile/profile.hbs">Profile</a>
    </li>
    <li>
        <a href="./errors/404.hbs">Error 404</a>
    </li>
    <li>
        <a href="./errors/500.hbs">Error 500</a>
    </li>
    <li>
        <a href="./chat/chat.hbs">Chat</a>
    </li>
</ul>
</nav>
