<div class="profile-container">
    <div class="back-button">
        {{{ backButton }}}
    </div>
    <div class="profile-container_wrapper">
        <div class="profile-container_user">
          <form class="form-wrapper" id="avatar-form">
          <input type="file" accept="image/*" name="avatar" id="avatar"/>
            <div class="form-button">
              {{{ saveButton }}}
            </div>
          </form>
        </div>
    </div>
</div>
