<li class="chat-item">
  <span class="chat-item_title">{{title}}</span>
  <p class="chat-item_message">{{message}}</p>
  <div class="chat-item_avatar"></div>
  <span class="chat-item_date">{{time}}</span>
  {{#if counter}}
    <span class="chat-item_counter">{{counter}}</span>
  {{/if}}
</li>
