<div class="{{#if isMine}}message-out{{else}}message-in{{/if}}">
    <div class="message-date">{{ date }}</div>
        <div class="message-text">
            {{ content }}
            <div class="message-time">{{ time }}</div>
        </div>
    </div>
</div>
