<div class="{{ class }}">
    <div class="message-date">{{ date }}</div>
        <div class="message-text">
            {{ text }}
            <div class="message-time">{{ time }}</div>
        </div>
    </div>
</div>
