<div class="{{ class }}">
    <div class="message_date">{{ date }}</div>
        <div class="message_text">
            {{ text }}
            <div class="message_time">{{ time }}</div>
        </div>
    </div>
</div>
